
<p id="notice"><%= notice %></p>

<%#= link_to 'New Article', new_article_path, class: "btn btn-danger"%>

<!-- <p><%#= link_to image_tag(current_user.avatar.url(:thumb)) %></p> -->

<h1>Listing Articles</h1>

<div id="articles">
  <ul>
    <%= render "articles" %>
  </ul>
</div>
